.explore-page {
  display: grid;
  grid-template-columns: min-content 2fr;
  //   grid-gap: 10px;

  height: 100%;

  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;

    h2 {
      color: #f9f9f9;
      font-size: 48px;
      cursor: pointer;
      padding: 10px 20px 10px;
    }

    .active {
      background: rgba(0, 0, 0, 0.4);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      text-decoration: underline;
    }
  }

  .item-container {
    background: rgba(33, 33, 33, 0.4);
    height: 100%;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;

    h2 {
      font-size: 32px;
      text-align: center;
      color: #f9f9f9;
      padding: 5px;
      background: rgba(33, 33, 33, 0.6);
    }
  }
}

.farm,
.type,
.roast {
  height: 275px;
}

// FARM ////////////////////////////
.africa {
  background-image: url("../images/farms/africa-farm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.arabian {
  background-image: url("../images/farms/arabian-farm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.indonesia {
  background-image: url("../images/farms/indonesia-farm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.asia {
  background-image: url("../images/farms/asia-farm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.central {
  background-image: url("../images/farms/central-america.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.south {
  background-image: url("../images/farms/south-america.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

// TYPES /////////////////////////////////
.best {
  background-image: url("../images/types/best-selling.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.flavored {
  background-image: url("../images/types/flavored-coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.decaf {
  background-image: url("../images/types/decaf-flavored-coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.decaffeinated {
  background-image: url("../images/types/decaf-coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.espresso {
  background-image: url("../images/types/espresso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.half {
  background-image: url("../images/types/Half-Caff.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.signature {
  background-image: url("../images/types/signature-blend.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.organic {
  background-image: url("../images/types/organic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

// ROASTS /////////////////////////////////
.light {
  background-image: url("../images/beans/light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.medium {
  background-image: url("../images/beans/medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.medium-dark {
  background-image: url("../images/beans/medium-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.dark {
  background-image: url("../images/beans/dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.double {
  background-image: url("../images/beans/double.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.espresso {
  background-image: url("../images/beans/espresso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

// FAVES ////////////////////////////

.fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url("../images/burlap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    font-size: 32px;
    text-align: center;
    color: #f9f9f9;
    padding: 5px;
    background: rgba(33, 33, 33, 0.6);
    width: 100%;
  }
}
.beanfruit {
  background-image: url("../images/favs/bean-fruit.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}
.colombe {
  background-image: url("../images/favs/colombe.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}
.deathwish {
  background-image: url("../images/favs/deathwish.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}
.lavazza {
  background-image: url("../images/favs/lavazza.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}
.onyx {
  background-image: url("../images/favs/onyx.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;
}
