.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #f9f9f9;
}

.logo {
  margin-top: 20px;
  width: 150px;
}

.nav {
  background: #333;
  padding: 10px 200px;
  width: 100%;

  a {
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    align-content: center;

    max-width: 600px;
    margin: 0 auto;
  }
}
